<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaNN8K5iOEdIogy_uR2ncxosvy2f9JVdA</string>
	<key>GCM_SENDER_ID</key>
	<string>212721162009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeyoet.vendor</string>
	<key>PROJECT_ID</key>
	<string>zeyo-seller</string>
	<key>STORAGE_BUCKET</key>
	<string>zeyo-seller.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212721162009:ios:c94bfa9f460c999f02d788</string>
</dict>
</plist>